<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>308228718633-jr55c3ab2j6b4l3qlodt820u293osah1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308228718633-jr55c3ab2j6b4l3qlodt820u293osah1</string>
	<key>API_KEY</key>
	<string>AIzaSyBP9D7oyaqa-1HHeskMj68B80ZakxMEMVg</string>
	<key>GCM_SENDER_ID</key>
	<string>308228718633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erniebarojas.instagram-mma</string>
	<key>PROJECT_ID</key>
	<string>instagram-mma</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-mma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:308228718633:ios:0a0233ffdcc0c1f5</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-mma.firebaseio.com</string>
</dict>
</plist>